/* CSS Doc Version 0.1 y.s. */

*				{ font-family: Consolas,"Courier New",SimSun; font-size: 14px; line-height: 150%; margin: 0; padding: 0; }
h1, h2, h3, h4	{ padding: 0px 10px; color: #20435C; background: #eee; border-bottom: 1px solid #aaa; margin-bottom: 10px; }
h1				{ font-size: 20px; margin-bottom: 15px; }
h2				{ font-size: 18px; }
h3				{ font-size: 16px; }
h4				{ font-size: 14px; }
ol, ul			{ margin: 5px 10px; padding: 5px 30px; }
li				{ line-height: 150%; }
p				{ margin: 3px 0 3px 24px; }
body			{ background: #fff; }
a				{ text-decoration: none; margin: 0 2px; border-bottom: 2px solid #91a2ae; color: #176092; vertical-align: middle; cursor: pointer; }
a:hover			{ border-bottom: 2px solid #176092; }


.section		{ margin: 0 0 20px 0; }
.section div	{ margin: 3px 0 3px 24px; }
.section1		{ margin: 20px; }
.section2		{ margin: 10px; }
.code			{ font-family: Consolas, "Courier New"; color: #405E21; background: #EEFFCC; }
.function_title	{ font-size: 16px; font-weight: bold; color: #000; }
.dashed_border	{ border: 1px dashed #269; }
.note			{ font-size: 12px; font-weight: bold; color: #B13D21; }
.tip			{ background: #dfe; margin: 8px; padding: 3px; }
.snap			{ margin: 0 20px 10px 0; }

#resource		{ display: none; }
#header			{ padding: 5px; background: #25617B; color: #fff; }
#header *		{ color: #fff; }
#header a:hover	{ border-bottom: 2px solid #fff; }
#center			{  }
#footer			{ font-size: 12px; color: #fff; text-align: center; background: #25617B; padding: 5px; border-top: 1px solid #2D2D3D }

