<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prototype.Properties.Settings.ConnectionString" connectionString="Data Source=YS-PC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Prototype.Properties.Settings.userConnectionString"
            connectionString="data source=E:\CSharp\Archer\Prototype\bin\Release\user.db"
            providerName="System.Data.SQLite" />
        <add name="Prototype.Properties.Settings.UserConnectionString1"
            connectionString="Data Source=|DataDirectory|\Data\User.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Archer.Properties.Settings.ConnectionString" connectionString="Data Source=YS-PC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Archer.Properties.Settings.userConnectionString" connectionString="data source=E:\CSharp\Archer\Prototype\bin\Release\user.db"
            providerName="System.Data.SQLite" />
        <add name="Archer.Properties.Settings.UserConnectionString1"
            connectionString="Data Source=|DataDirectory|\User.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Archer.Properties.Settings.UserConnectionString2"
            connectionString="data source=E:\CSharp\Archer\Prototype\bin\Release\User.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>